<!-- {{nutrition | json}} -->

<div class="container">
    <h3 class="text-center bg-white text-primary text-uppercase mb-5">{{userSearch}}</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="">
                <div class="totalCalories-circle">
                    <svg viewBox='0 0 32 32'>
                        <g stroke-width='5'>
                            <circle cx='16' cy='16' r='16' attr.stroke-dasharray='{{proten}} 100' stroke-dashoffset='0'
                                stroke='#6acc00'></circle>

                            <circle cx='16' cy='16' r='16' attr.stroke-dasharray='{{fat}} 100'
                                attr.stroke-dashoffset='-{{proten}}' stroke='#f14647'></circle>

                            <circle cx='16' cy='16' r='16' attr.stroke-dasharray='{{carbs}} 100'
                                attr.stroke-dashoffset='-{{proten + fat}}' stroke='#ffbe61'></circle>


                        </g>
                        <text x="16" y="15" class="text" text-anchor="middle">
                            <tspan class="text-1" dx="0" dy="0">{{totalCalories}}</tspan>
                            <tspan dx="16" x="0" dy="2em">Calories</tspan>
                        </text>
                    </svg>
                </div>
                <div class="Calories-precente my-5">
                    <p class="m-0 text-end">Daily: 2000 CAL</p>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" attr.style="width: {{precentageCalories + 5 }}% " attr.aria-valuenow="{{precentageCalories}}" aria-valuemin="0" aria-valuemax="100">
                            {{precentageCalories}}%</div>
                    </div>

                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="d-block text-center text-uppercase mx-3">
                        <p class="circle-pres pro-clr">
                            {{proten}}
                            <br> cal
                        </p>
                        proten
                    </div>
                    <div class="d-block text-center text-uppercase mx-3">
                        <p class="circle-pres car-clr">
                            {{carbs}}
                            <br> cal
                        </p>
                        CARBS
                    </div>
                    <div class="d-block text-center text-uppercase mx-3">
                        <p class="circle-pres fat-clr">
                            {{fat}}
                            <br> cal
                        </p>
                        FAT
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-7">

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                            Nutrition claims
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <ng-container *ngFor="let x of nutrition.healthLabels">

                                {{x.replace('_', ' ')}} <span>•</span>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            <div class="d-flex justify-content-between align-items-center">
                                Total nutrition
                            </div>
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">title</th>
                                        <th scope="col">g</th>
                                        <th scope="col">%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            calories
                                        </td>
                                        <td>
                                            {{nutrition.calories}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.FAT.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.FAT.quantity}} {{nutrition.totalNutrients.FAT.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.FAT.quantity}} {{nutrition.totalDaily.FAT.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.CHOLE.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.CHOLE.quantity}} {{nutrition.totalNutrients.CHOLE.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.CHOLE.quantity}} {{nutrition.totalDaily.CHOLE.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.NA.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.NA.quantity}} {{nutrition.totalNutrients.NA.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.NA.quantity}} {{nutrition.totalDaily.NA.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.FIBTG.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.FIBTG.quantity}} {{nutrition.totalNutrients.FIBTG.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.FIBTG.quantity}} {{nutrition.totalDaily.FIBTG.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.SUGAR.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.SUGAR.quantity}} {{nutrition.totalNutrients.SUGAR.unit}}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.PROCNT.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.PROCNT.quantity}} {{nutrition.totalNutrients.PROCNT.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.PROCNT.quantity}} {{nutrition.totalDaily.PROCNT.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.CA.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.CA.quantity}} {{nutrition.totalNutrients.CA.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.CA.quantity}} {{nutrition.totalDaily.CA.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.FE.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.FE.quantity}} {{nutrition.totalNutrients.FE.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.FE.quantity}} {{nutrition.totalDaily.FE.unit}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{nutrition.totalNutrients.K.label}}
                                        </td>
                                        <td>
                                            {{nutrition.totalNutrients.K.quantity}} {{nutrition.totalNutrients.K.unit}}
                                        </td>
                                        <td>
                                            {{nutrition.totalDaily.K.quantity}} {{nutrition.totalDaily.K.unit}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>